#titulo_verde{
    color: green;
    text-align: right;
}
h2{
    color: blue;

}
.titulo_dimensiones{
    font-size: 50px;
}

#parrafo_rosa{
    color: pink;
}
body{
    font-size: 75px;
}
h1, h2{
    font-size: 40px;
}